<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- IIS terminates HTTPS; ASP.NET trusts forwarded data only from an allowlisted proxy. -->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CustSearch.API.dll"
                  stdoutLogEnabled="false" hostingModel="inprocess" />
      <webSocket enabled="true" />
    </system.webServer>
  </location>
</configuration>
