SQLSERVER_SA_PASSWORD=
ASPNETCORE_ENVIRONMENT=Development
CUSTSEARCH_CONNECTION_STRING=Server=KRUTARTH-BHAVSA;Database=CustSearch_AI;Integrated Security=True;Encrypt=True;TrustServerCertificate=True
Jwt__SigningKey=
REDIS_CONNECTION_STRING=localhost:6379
CUSTSEARCH_AI_DOTNET_EVENT_URL=https://localhost:7277/api/internal/cctv/events
