SQLSERVER_SA_PASSWORD=
ASPNETCORE_ENVIRONMENT=Development
CUSTSEARCH_CONNECTION_STRING=Server=localhost;Database=CustSearch_AI;Integrated Security=True;Encrypt=True;TrustServerCertificate=True
Jwt__SigningKey=
REDIS_CONNECTION_STRING=localhost:6379
